</div>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="libraries/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script>
		<% if(title != "labeling") { %>
		<script src="js/home.js"></script>
		<% } %>
		<% if(title == "labeling") { %>
		<script src="libraries/tiffjs/tiff.min.js"></script>
		<script src="js/flabeling.js"></script>
		<% } %>
	</body>
</html>

